@import "~bootstrap";
@import '~font-awesome/css/font-awesome.css';

.main {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  min-height: calc(100vh - 56px);

  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-top: 50px;
}
